*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .1s ease-in;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    color: white;
}

body{
    background-color: #0273B2;
    border: 15px solid rgb(43, 129, 172);
    height: 100vh;
}

.list{
    width: 700px;
    margin: 0 auto;
    font-size: 0;
    padding-bottom: 20px;
}

.wrapper{
    width: 700px;
    margin: 0 auto;
}

ul:hover li{
    opacity: 0.5;
}

ul:hover li:hover{
    opacity: 1;
}

li{
    display: inline-block;    
    width:25%;
    height: 75px;
    font-size: 14px;
    text-align: center;
    padding: 15px;
    border: 2px solid white;
}

.city1{   
    background-color: #0273B2;
    width: 50%;
}

.citycity2{
    background-color: #33CCCC;
}

.city3{
    background-color: #996699;
}

.city4{
    background-color: #C24747;
}

.city5{
    background-color: #E2674A;
}

.city6{
    background-color: #FFCC66;
}

.city7{
    background-color: #99CC99;
}

.city8{
    background-color: #669999;
}

.city9{
    background-color: #CC6699;
    width: 50%;
}

.city10{
    background-color: green;
}

.city11{
    background-color: #666692;
    width: 100%;
}


